* {
    box-sizing: border-box;
}

body {
    /* background-color: #000; */
}

#wrapper {
    /* width: 80%; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* background: linear-gradient(#fefbd8, #80ced6); */
    


}
span{ color:#000;
    font-family: cursive;
    margin-bottom:10px;}
header {
    width: 100%;
    background: linear-gradient(#622569,#d6d4e0);
    color:#FEFAEB;
    padding: 10px;
    height: 100px;
    text-align: center;


}

h1 {
    font-size: 2em;
    font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    width: 290px;
    display: flex;
    flex-direction: column;
    float: left;
    /* line-height: 1.5em; */
    /* height: auto; */
    /* text-align: center; */
    font-size: 0.9em;
    background-color:#b0aac0;
    opacity: 0.6;
    background-image: url(painting.jpg);
    /* height: 300px; */
    /* height: 300px; */
    /* width:300px; */
    float: right;
    background-repeat: no-repeat;
    background-size: cover;


}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}

nav a:hover {
    color: aquamarine
}

nav li {
    border-bottom: 1px solid #FEFAEB;
}

#rightcol {
    background: linear-gradient();
    display: grid;
    grid-template-columns: 100px 1fr;
}

#dream {
    background-image: url(dreamwonders.jpg);
    height: 300px;
    width: 300px;
    float: right;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    margin-left: 190px;
    background: linear-gradient(#fff2df,#663366);

}

main p,
ul {
    color:#000
}

#dec {
    text-decoration: none;
    color: darkblue
}

main p a {
    text-decoration: none;
    font-size: 1.5em;
}

footer {
    text-align: center;
    font-size: 0.9em;
    background-color: #b0aac0;
}

@media (max-width: 600px) {
    body {
        background-color: #000;
        ;
    }
    header{background: linear-gradient( #034f84,#fff);}

    nav {
        float: none;
        height:300px;
        position: relative;
        justify-content: center;
        width: 100%;
        padding: 0px;
        /* background-image: none; */
        background: linear-gradient( #92a8d1,#36486b);
        background-image: url(skyfly.jpg);
        opacity:1;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center;

    }

    nav li {
        display: inline;
        /* margin: 0 15px; */
        border-bottom: 1px solid #FEFAEB;
        width: 100%;
    }

    nav a {
        text-decoration: none;
    }
    nav a:hover{color:aqua}

    main {
        margin: 0px;
        background: linear-gradient(#cfe0e8,#f0f0f0);
    }
    main p{margin-left: 10px;;}

    h1 {
        font-size: 1.5em;
    }

    nav a {
        font-size: 1.2em;
    }

    footer {
        font-size: 0.9em;
        background: linear-gradient( #034f84,#fff)
    }
    #rightcol{display:flex;
    flex-direction: column;}

    #video{
        margin-left: 70px;
        margin-bottom: 30px;;
    }
}
