body {
    background-color:#cfe0e8;
    margin: 0;
    display: block;

}

#gallery {
    position: relative;
    background-color: #625750;
}

figure {
    position: absolute;
    left: 280px;
    text-align: center;
    opacity: .25;
}

#gallery ul {
    /* width: 300px; */
    list-style-type: none;
}

#gallery li {
    display: inline;
    float: left;
    padding: 10px;
}

#gallery img {
    border-style: none;
}

#gallery a {
    color: #EAEAEA;
    text-decoration: none;
    font-style: italic;
}

#gallery span {
    position: absolute;
    left: -1000px;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

#gallery a:hover span {
    position: absolute;
    top: 16px;
    left: 320px;
    text-align: center;
    opacity: 1;
}

nav {
    /* display: flex; */
    /* flex-direction: column; */
    /* float: left; */
    /* width: 180px; */
    /* padding:10px; */
    /* margin-top: 20px; */
    line-height: 50px;
    background-color: #625750;
    /* height: auto; */
    /* overflow: hidden; */
    text-align: center;
}
nav ul {
    list-style-type: none;
}
nav li{  border-bottom: 2px solid #878f99;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    text-align: center;
}


#wrapper {
   display:flex;
   flex-direction: column;
   background-color: #a2b9bc;

}
header{flex:1}
nav{flex:2}
main{flex:4}
footer{flex:1}



header {
    color: black;
    background: linear-gradient(#e6e2d3, #878f99);
    height: 100px;
    text-align: center;
    padding: 10px;
}

main {
    /* margin-left: 200px; */
    /* overflow:hidden; */

}

details {
    /* margin-left: 180px; */
    color: black
}

footer{
    text-align: center;
    background:linear-gradient(#e6e2d3, #878f99) ;
}

@media(min-width:650px){
    #wrapper{
        width:80%;
        margin: auto;
    }
    #gallery img{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

@media(min-width:1024px){
    #wrapper{
        width:100%;
        display:grid;
        grid-template:
        "header header"
        "nav main"
        "nav main"
        "nav footer "
        /160px 1fr ;
    }

    header{grid-area:header;}
    nav{grid-area:nav;}
    main{grid-area:main;}
    footer{grid-area: footer;}

    nav{
    padding: 10px;
    flex:none;}

}